- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")

    script(src="https://use.fontawesome.com/028467eb54.js")

    link(rel="stylesheet",href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    link(href="/public/css/app.css",rel="stylesheet")

    title REST Charts
  body
    div.container.small-width
      div.text-center.header
        div.margin-vert-large
          a(href="https://github.com/whatl3y/restcharts")
            i(style="font-size:4em").devicon-github-plain
        h1 REST Charts
        div
          small Generate charts easier than ever! Powered by&nbsp;
            a(href="https://www.highcharts.com/") Highcharts

      hr

      div.text-center
        h3 What is REST Charts?
        div.
          REST Charts lets you generate dynamic Highcharts charts through
          a REST-like API, with the URL &amp; query string params providing
          information such as the data to be charted, chart colors,
          area opacity, etc.
        div.card.margin-vert-xlarge
          div.card-block
            div As easy as...
            div
              code.wrap-always(style="font-size:14px;")
                a(href=data.api_host + '/chart/column?data=5,1,2,9,8,3,6')= data.api_host + '/chart/column?data=5,1,2,9,8,3,6'

      hr

      div
        h2.text-center(id='Parameters') API
        h5 Basic Route Format
        div.row
          div.col-10.offset-1
            div(style="font-size:10px;margin-bottom:10px")
              i.
                The following is an example with curl, but you can use any
                method of making an HTTP request. Also, CORS is enabled for
                making requests from the browser.
        div
          div
            code= '$ curl -X GET ' + data.api_host + '/chart/:type[?parameters]'
          div or
          div
            code= '$ curl -X POST ' + data.api_host + '/chart/:type -d \'[JSON parameters]\''
        div.margin-vert-large.text-center
          strong
            a(href="https://github.com/whatl3y/restcharts").
              Complete API documentation available on github

      hr

      h2.text-center(id='Examples') Examples
      div
        each type in data.types
          div
            h3(id=type.name)
              a(href='#' + type.name)= type.name
            div.row
              each example in type.examples
                div.col-xs-12(class=(type.name == 'Advanced Configuration') ? 'col-md-12' : 'col-md-4')
                  div.card.example.margin-vert-medium
                    - //div.card-img-top.chart-example(style="background-image:url('" + example.url + "')")
                    img.card-img-top.chart-example(class=(type.name == 'Advanced Configuration') ? 'large-img-top' : '',src=example.url)
                    div.card-block
                      a(href=example.url)
                        div.card-title
                          div= example.name
                        p.card-text
                          div.d-flex.flex-column.justify-content-center.align-items-center
                            code
                              i.fa.fa-hand-pointer-o
                              span.no-underline= ' ' + example.url
